/* BotonCafe.css */

.boton-cafe {
    background-color: #542B12; /* Color café */
    color: #fff; /* Texto blanco */
    border: 1px solid #6F4E37; /* Borde color café */
    padding: 1px 10px; /* Ajusta según tus necesidades */
    border-radius: 20px;

    font-size: 16px;
    font-weight: bold;
    width: 350px;
    height: 58px;
    margin: auto; /* Centrar horizontalmente */
    margin-bottom: 15px;
    margin-top: 15px;
    display: block; /* Asegurar que el margen automático funcione */
  }
  
  .boton-cafe:hover {
    background-color: #543e2e; /* Cambia el color al hacer hover */
  }
  