.FechaTarjetaPago{
    color: #000;
    /*text-align: left;*/
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
    letter-spacing: -0.5px;
    padding: 1px 10px;
}
.form_fechaVencimiento{
    position: relative;
    color: #dfd3d3d5;
}
.form_inputFecha{
    width: 154px;
    height: 45px;
    color: #1a1414;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    /*margin: 3px 40px;*/ 
    border-radius: 10px;
    border: 0.5px solid #000;
    background: var(--FondoP, #F7EBDD);
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.form_labelFecha{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 55px;
    transform: translateY(10px);
    transform: transform .5s, color .3s;
    margin: 15px; 
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.form_inputFecha:focus + .form_labelFecha,
.form_inputFecha:not(:placeholder-shown)+.form_labelFecha{
    transform: translateY(-12px) scale(.7);
    transform-origin: top right;
    --color: #a35e0e;
}

.CVV{
    color: #000;
    /*text-align: left;*/
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
    letter-spacing: -0.5px;
    padding: 1px 10px;
}
.form_Cvv{
    position: relative;
    color: #dfd3d3d5;
}
.form_inputCvv{
    width: 154px;
    height: 45px;
    color: #1a1414;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    /*margin: 3px 40px; */
    border-radius: 10px;
    border: 0.5px solid #000;
    background: var(--FondoP, #F7EBDD);
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

}
.form_labelCvv{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 55px;
    transform: translateY(10px);
    transform: transform .5s, color .3s;
    margin: 15px; 
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.form_inputCvv:focus + .form_labelCvv,
.form_inputCvv:not(:placeholder-shown)+.form_labelCvv{
    transform: translateY(-12px) scale(.7);
    transform-origin: top right;
    --color: #a35e0e;
}

.cajaLlenadoPago{
    display: flex;
    
    justify-content: space-around;
}

.FechaPago{
    display: flex;
    flex-direction: column;
}

.CajaCvv{
    display: flex;
    flex-direction: column;
}

.NumeroCompleto{
    width: 283px;
    height: 24px;
    flex-shrink: 0;
    /*color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.5px;*/
}

.form{
    width: 354px;
    height: 80px;
}
.form_NomPropietario{
    position: relative;
    color: #dfd3d3d5;
    width: 354px;
    height: 50px;

}
.form_inputNompropietario{
    width: 354px;
    height: 45px;
    color: #1a1414;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    margin: 3px 40px; 
    border-radius: 10px;
    border: 0.5px solid #000;
    background: var(--FondoP, #F7EBDD);
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.form_labelNomPropietario{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 55px;
    transform: translateY(10px);
    transform: transform .5s, color .3s;
    margin: 15px; 
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.form_inputNompropietario:focus + .form_labelNomPropietario,
.form_inputNompropietario:not(:placeholder-shown)+.form_labelNomPropietario{
    transform: translateY(-12px) scale(.7);
    transform-origin: top right;
    --color: #a35e0e;
}