.cajaLlenadoDatos{
    display: flex;
    justify-content: space-around;
}
.CodigoPais{
    display: flex;
    flex-direction: column;
}
.CodPais{
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
    letter-spacing: -0.5px;
    padding: 1px 10px;
}
.form_Codi-Pais{
    position: relative;
    color: #dfd3d3d5;
}
.form_inputCodigoP{
    width: 154px;
    height: 45px;
    color: #1a1414;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    /*margin: 3px 40px;*/ 
    border-radius: 10px;
    border: 0.5px solid #000;
    background: var(--FondoP, #F7EBDD);
}
.form_labelCodigoP{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 55px;
    transform: translateY(10px);
    transform: transform .5s, color .3s;
    margin: 15px; 

}
.form_inputCodigoP:focus + .form_labelCodigoP,
.form_inputCodigoP:not(:placeholder-shown)+.form_labelCodigoP{
    transform: translateY(-12px) scale(.7);
    transform-origin: top right;
    --color: #a35e0e;
}


.CajaCelularT{
    display: flex;
    flex-direction: column;
}
.CelularT{
    color: #000;
    /*text-align: left;*/
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
    letter-spacing: -0.5px;
    padding: 1px 10px;
}
.formCelularT{
    position: relative;
    color: #dfd3d3d5;
}
.form_inputCelularT{
    width: 154px;
    height: 45px;
    color: #1a1414;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    /*margin: 3px 40px; */
    border-radius: 10px;
    border: 0.5px solid #000;
    background: var(--FondoP, #F7EBDD);
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.form_labelCelularT{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 55px;
    transform: translateY(10px);
    transform: transform .5s, color .3s;
    margin: 15px; 
}
.form_inputCelularT:focus + .form_labelCelularT,
.form_inputCelularT:not(:placeholder-shown)+.form_labelCelularT{
    transform: translateY(-12px) scale(.7);
    transform-origin: top right;
    --color: #a35e0e;
}

.cajaPIN{
    margin-top: 20px;
}

.form_Contraseña{
    position: relative;
    color: #dfd3d3d5;
    width: 354px;
    height: 50px;

}
.form_inputContraseña{
    width: 354px;
    height: 45px;
    color: #1a1414;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    margin: 3px 40px; 
    border-radius: 10px;
    border: 0.5px solid #000;
    background: var(--FondoP, #F7EBDD);
}
.form_labelContraseña{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 55px;
    transform: translateY(10px);
    transform: transform .5s, color .3s;
    margin: 15px; 
}
.form_inputContraseña:focus + .form_labelContraseña,
.form_inputContraseña:not(:placeholder-shown)+.form_labelContraseña{
    transform: translateY(-12px) scale(.7);
    transform-origin: top right;
    --color: #a35e0e;
}
