.contenedor {
    background-image: url('/image 65.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .bienve {
    color: #542b12 ;
    font-size: 10px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
 
}
.pastel{
    color: #ff0734;
    font-size: 10px;
    font-weight: bold;
    margin-top: -30px;
    margin-bottom: 180px;
    
}
.botonvamos{
    margin-top: 90px;
}

