*{
    background-attachment: fixed;
    font: 1em sans-serif;
font-size: large;
}
.platano{
    columns: 12;
    color: 32;
}
.iloveyouplatanito{
    color: aliceblue;
    font: optional;
    display: block;
}